body {
  background: #333333;
  color: #eeeeee;
  margin: 0 auto;
  max-width: 328px;
  overflow: hidden;
  width: 100%; }

header, footer {
  font-family: "LeagueGothicRegular";
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0 2px; }

footer {
  clear: both; }

#canvas {
  position: relative; }

.indicator {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  font-size: 7em;
  line-height: 132px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0; }
  .indicator.success {
    color: green; }
  .indicator.failure {
    color: red; }
  .indicator.start {
    font-size: 12em;
    opacity: 1;
    z-index: 30; }

.notice {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 10px;
  z-index: 10; }
  .notice a {
    color: inherit;
    display: block;
    text-decoration: none; }
  .notice .permalink {
    color: darkgrey;
    font-size: 0.7em;
    margin-top: 5px; }
  .notice i {
    color: #ffcc20;
    font-size: 0.8em;
    margin-right: 0.1em; }

.tile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: border-color, border-width, height, -webkit-transform;
  -moz-transition-property: border-color, border-width, height, -moz-transform;
  -o-transition-property: border-color, border-width, height, -o-transform;
  transition-property: border-color, border-width, height, transform;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  border: 2px solid transparent;
  float: left;
  height: 110px;
  overflow: hidden;
  position: relative;
  width: 50%;
  z-index: 20; }
  .tile > img {
    -webkit-transition-property: top, opacity;
    -moz-transition-property: top, opacity;
    -o-transition-property: top, opacity;
    transition-property: top, opacity;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    display: block;
    max-width: 100%;
    position: relative;
    top: 0; }

.inactive {
  border-top-width: 27px;
  border-bottom-width: 27px; }
  .inactive > img {
    top: -25px; }

.active {
  z-index: 21; }

.inactive > img {
  opacity: 0.5; }

.pos-0 {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }
  .pos-0.active {
    -webkit-transform: translate3d(-10px, -10px, 0);
    -moz-transform: translate3d(-10px, -10px, 0);
    -ms-transform: translate3d(-10px, -10px, 0);
    -o-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0); }
  .pos-0.start, .pos-0.end {
    -webkit-transform: translate3d(-180.4px, -121.0px, 0);
    -moz-transform: translate3d(-180.4px, -121.0px, 0);
    -ms-transform: translate3d(-180.4px, -121.0px, 0);
    -o-transform: translate3d(-180.4px, -121.0px, 0);
    transform: translate3d(-180.4px, -121.0px, 0); }

.pos-1 {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s; }
  .pos-1.active {
    -webkit-transform: translate3d(10px, -10px, 0);
    -moz-transform: translate3d(10px, -10px, 0);
    -ms-transform: translate3d(10px, -10px, 0);
    -o-transform: translate3d(10px, -10px, 0);
    transform: translate3d(10px, -10px, 0); }
  .pos-1.start, .pos-1.end {
    -webkit-transform: translate3d(180.4px, -121.0px, 0);
    -moz-transform: translate3d(180.4px, -121.0px, 0);
    -ms-transform: translate3d(180.4px, -121.0px, 0);
    -o-transform: translate3d(180.4px, -121.0px, 0);
    transform: translate3d(180.4px, -121.0px, 0); }

.pos-2 {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; }
  .pos-2.active {
    -webkit-transform: translate3d(-10px, 10px, 0);
    -moz-transform: translate3d(-10px, 10px, 0);
    -ms-transform: translate3d(-10px, 10px, 0);
    -o-transform: translate3d(-10px, 10px, 0);
    transform: translate3d(-10px, 10px, 0); }
  .pos-2.start, .pos-2.end {
    -webkit-transform: translate3d(-180.4px, 121.0px, 0);
    -moz-transform: translate3d(-180.4px, 121.0px, 0);
    -ms-transform: translate3d(-180.4px, 121.0px, 0);
    -o-transform: translate3d(-180.4px, 121.0px, 0);
    transform: translate3d(-180.4px, 121.0px, 0); }

.pos-3 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s; }
  .pos-3.active {
    -webkit-transform: translate3d(10px, 10px, 0);
    -moz-transform: translate3d(10px, 10px, 0);
    -ms-transform: translate3d(10px, 10px, 0);
    -o-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0); }
  .pos-3.start, .pos-3.end {
    -webkit-transform: translate3d(180.4px, 121.0px, 0);
    -moz-transform: translate3d(180.4px, 121.0px, 0);
    -ms-transform: translate3d(180.4px, 121.0px, 0);
    -o-transform: translate3d(180.4px, 121.0px, 0);
    transform: translate3d(180.4px, 121.0px, 0); }

.shiftS.correct {
  -webkit-transform: translate3d(0, 120px, 0);
  -moz-transform: translate3d(0, 120px, 0);
  -ms-transform: translate3d(0, 120px, 0);
  -o-transform: translate3d(0, 120px, 0);
  transform: translate3d(0, 120px, 0); }

.shiftSE.correct {
  -webkit-transform: translate3d(174px, 120px, 0);
  -moz-transform: translate3d(174px, 120px, 0);
  -ms-transform: translate3d(174px, 120px, 0);
  -o-transform: translate3d(174px, 120px, 0);
  transform: translate3d(174px, 120px, 0); }

.shiftSW.correct {
  -webkit-transform: translate3d(-174px, 120px, 0);
  -moz-transform: translate3d(-174px, 120px, 0);
  -ms-transform: translate3d(-174px, 120px, 0);
  -o-transform: translate3d(-174px, 120px, 0);
  transform: translate3d(-174px, 120px, 0); }
