body {
  margin: 0 auto;
  width: 336px; }

#canvas {
  position: relative; }

.notice {
  position: absolute;
  top: 0;
  left: 0; }

.tile {
  border: 4px solid gray;
  float: left;
  width: 160px; }
  .tile > img {
    display: block; }

.active {
  border-color: red; }

.inactive > img {
  opacity: 0.5; }
