$imgWidth: 160px
$imgHeight: 160px
$borderWidth: 4px
$boxWidth: $imgWidth + 2 * $borderWidth

body
  margin: 0 auto
  width: 2 * $boxWidth

#canvas
  position: relative

.notice
  position: absolute
  top: 0
  left: 0

.tile
  border: $borderWidth solid gray
  float: left
  width: $imgWidth
  > img
    display: block

.active
  border-color: red

.inactive
  > img
    opacity: 0.5
