$imgWidth: 168px
$imgHeight: 168px
$borderWidth: 4px
$boxWidth: $imgWidth + 2 * $borderWidth

body
  margin: 0 auto
  width: 2 * $boxWidth

#canvas
  position: relative

.notice
  position: absolute
  top: 0
  left: 0

img
  border: $borderWidth solid gray
  display: block
  float: left
  width: $imgWidth

.active
  border-color: red
